
@{
    //ViewData["Title"] = "Home Page";
}
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link  type="stylesheet" href="~/css/Login_Modal.css"/>
    
    <script src="~/js/Login_Modal.js"></script>
<div class="container">
  <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal">
    Login
  </button>  
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Đăng nhập</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="username1"placeholder="User name ...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password1" placeholder="Mật khẩu ...">
            </div>
            <div class="Button">
            <button type="button" class="btn btn-info btn-block btn-round btn-xs">Đăng nhập </button>
             <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">Chưa có tài khoản? </div>
        <div class="SignUp-Button-Div"><button type="button" class="btn btn-secondary btn-block btn-round btn-xs" data-toggle="modal" data-target="#signupModal" href="..//Views/Home/SignUp_Modal.cshtml"> Đăng ký </button></div></div>
      </div>
          </form>     
          <div class="d-flex justify-content-center social-buttons">
          </div>
        </div>
      </div>
    </div>
      
  </div>
</div>
@* Đăng ký*@
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Đăng ký</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="username1"placeholder="User name ...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password1" placeholder="Mật khẩu ...">
            </div>
            <div class="Button">
            <button type="button" class="btn btn-info btn-block btn-round btn-xs">Đăng ký </button>
             <div class="modal-footer d-flex justify-content-center">

      </div>
          </form>     
          <div class="d-flex justify-content-center social-buttons">
          </div>
        </div>
      </div>
    </div>
     
  </div>
</div>