
@{
}
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link  type="stylesheet" href="~/css/SignUp_Modal.css"   />
    <script src="~/js/SignUp_Modal.js"></script>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Đăng ký</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="username1"placeholder="User name ...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password1" placeholder="Mật khẩu ...">
            </div>
            <div class="Button">
            <button type="button" class="btn btn-info btn-block btn-round btn-xs">Đăng ký </button>
             <div class="modal-footer d-flex justify-content-center">

      </div>
          </form>     
          <div class="d-flex justify-content-center social-buttons">
          </div>
        </div>
      </div>
    </div>
     
  </div>
</div>